html, body{
    height: 100%;
    margin: 0;
}

.postmanagercontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postmanagerbody{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: rgb(213, 213, 213);
    background-image: -webkit-linear-gradient(30deg, rgb(247, 247, 247) 50%, white 50%);
    border-radius: 5px;
    height: 100%;
}

.myupdatemodal{
    width: 35%;
    background-color: white;
    position: fixed;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.managerheader{
    padding-top: 2rem;
    padding-left: 2rem;
}

.mycommentmodal{
    width: 80%;
    background-color: white;
    position: fixed;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}