html body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  background-color: rgb(42, 38, 48);
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}
.mybody {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 10rem;
}

.myheader{
  background-color: white;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}


.profile
{
  align-items: center;
  display: flex;
}

.copyright {
  background-color: white;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}

.github{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.githublink{
  color: black;
}

.mymodal{
  width: 15%;
  background-color: white;
  right: 0;
  position: absolute;
  top: 5rem;
  height: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mymodal div{
 width: 100%;
 color: rgb(112, 112, 112);
 padding: 0.5rem;
}


.modalbutton{
  background-color: transparent;
  border: none;
  width: auto;
}

.modalbutton:active{
  color: black;
}

.mymodal div:hover{
  background-color: rgb(245,245,245);
}
