
html body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  background-color: rgb(42, 38, 48);
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;

}
.mybody{
  align-items: center;
  padding-bottom: 10rem;
  padding-top: 5rem;
}

.myheader{
  background-color: white;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}


.profile
{
  align-items: center;
  display: flex;
}

.copyright{
  background-color: white;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  position: relative;
  margin-top: auto;
}

.github{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.githublink{
  color: black;
}